{% extends "blank_layout.html" %}

{% block content %}
<h1>Create User</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><label for="username">UserName</label></p>
    <input type="text" name="username">
    <p><label for="password">Password</label></p>
    <p><input type="password" name="password"></p>
    <button type="submit">Signup</button>
</form>
<p>
    {% if user %}
    New user created with username: {{ user.username }}
    {% endif %}
</p>
<p style="background-color: red;">
    {% if error_message %}
    {{ error_message }}
    {% endif %}
</p>
{% endblock content %}